html{overflow-x:hidden;}
.logo{width: 90px;}
h1{
    font-size: 59px;
    letter-spacing: 1px;
    color: chocolate;
    font-family:Broadway; 
}
.linkedlist{font-size: 20px;}
.container-fluid{background-color:bisque;}
body{background-color: darkkhaki;}
ol{
    background-color: bisque;
}
.text-danger{
    background-color:beige;
    font-size: x-larger;
}
.text-danger2{
    background-color:rgb(157, 243, 161);
    font-size: x-larger;
}
.text-danger3{
    background-color:rgb(217, 245, 151);
    font-size: x-larger;
}
form{
    background-color: bisque;}

table{background-color:bisque;}
h2{
    font-size: large;
    background-color: coral;
}
th{font-size: small;}
td {font-size: small;
    background-color: white;}
img{max-width: 300px;}
@media(min-widht: 700px)
{   .logo{width: 200px;}
    img {max-width: 500px;}
}
